<div class="text-center justify-content-center align-content-center mb-5 mt-5">
  <h1>This is your ticket number</h1>
  <h1 class="mt-5" style="font-weight: bolder; font-size: 150px;"><%= @ticket.ticket_number %></h1>
  <p>Kindly wait for your ticket number to be called.</p>
</div>
